@model BudgetIT.Models.viewModels.NotaFiscalProdutoViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NotaFiscalProduto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscalProduto.Emissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaFiscalProduto.Emissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscalProduto.Vencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaFiscalProduto.Vencimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscalProduto.NrNota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaFiscalProduto.NrNota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscalProduto.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaFiscalProduto.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscalProduto.Oc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaFiscalProduto.Oc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscalProduto.Notas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaFiscalProduto.Notas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscalProduto.Fornecedor.RazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaFiscalProduto.Fornecedor.RazaoSocial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NotaFiscalProduto.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
