@model IEnumerable<BudgetIT.Models.NotaFiscalProduto>


@{
    ViewData["Title"] = "Index";
}

<body style="background: #CED8F6">

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </body>