@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aspro ao seu dispor!</p>
<p>@ViewData["email"]</p>
<p>@ViewData["contato"]</p>

<p> Developer @ViewData["developer"]</p>
<addres>
    <strong>More information:</strong> <a href="http://www.aspro.com.br">www.aspro.com.br</a>
</addres>
